body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  * {
    box-sizing: border-box;
  }
}

.btn-group {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: .2rem;

  a {
    font-size: .32rem;
    margin-bottom: .2rem;
  }
}

.commission-div {
  position: relative;
  height: 100%;
  padding-bottom: 0.95rem;

  .list__select-person {
    .am-list-header {
      font-size: 0.32rem;
    }
  }

  .list__fee {
    .list__fee-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }

    .am-list-content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }
  }

  .list__part-fee {
    .list__part-fee-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }

    .am-list-content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }
  }

  .am-button {
    border-radius: 0;
  }

  .toolbar {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;

    .admin-btn {
      color: #888;
      font-size: .32rem;
    }
  }

  .ranking-card {
    .am-card-body {
      div {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem 0;
      }
    }
  }

  .historical-point__card {
    .am-card-header {
      background: #f7f7f7;
    }
  }
}

.upd-commission-file {
  height: 100%;

  .am-list-header {
    font-size: .32rem;

    .header-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .trans-btn {
        font-size: 0.26rem;
        height: 100%;
        line-height: 1;
        padding: 0.1rem 0.1rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .file-upd-item {
    .am-list-extra {
      position: relative;
      box-sizing: border-box;
      padding-top: 0.14rem;
      padding-bottom: 0.14rem;
      height: 100%;

      .file-upd-btn {
        position: absolute;
        top: 0;
        cursor: pointer;
        right: 0;
        color: #bfbfbf;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 2;

        input {
          position: absolute;
          font-size: .4rem;
          line-height: 2.2;
          right: 0;
          top: 0;
          opacity: 0;
          cursor: pointer;
        }

        span {
          display: block;
          color: #888;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-top: 0.14rem;
          padding-bottom: 0.14rem;
          padding-right: 0.1rem;
        }
      }
    }
  }
}

.rc-table {
  font-size: 0.34rem !important;
  background: #fff;

  th, td {
    padding: 0.16rem 0.28rem !important;
  }

  .rc-table-thead {
    font-size: 0.28rem;
    color: #888;
  }
}

.route-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    height: 100%;
  }
}

.point-detail {
  .table-header {
    font-style: italic;
  }
}

.annual-review__card-list {
  padding: .3rem;

  .annual-review__card {
    margin-bottom: .3rem;

    &.am-card:not(.am-card-full) {
      border: 0;
      border-radius: 0;
    }

    .am-card-header {
      flex-direction: column;
      align-items: flex-start;

      .am-card-header-content {
        font-size: .34rem;
        font-weight: 500;
        line-height: 1.5;
      }

      .am-card-header-extra {
        font-size: .26rem;
      }
    }

    .am-card-body {
      border-top: 0;
      text-align: center;
      font-size: 1.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.intern-management {
  width: 100vw;
  height: 100vh;

  .intern-list {
    width: 100vw;
    height: calc(100vh - .88rem - .94rem);
    overflow: auto;

    .am-list-view-scrollview  {
      // padding-top: .8rem;
    }

    .am-list-header {
      padding: 20px 18px 15px;
      background: #fff;
    //   top: .88rem;
    //   height: .8rem;
    //   position: fixed;
    //   z-index: 999;
    }

    .row-data-header, .row-data {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;

      > span {
        flex: 1 0 33%;
      }
    }

    .row-data-header {
      text-align: center;

      .status {
        flex: 1 0 33%;

        .am-icon {
          position: relative;
          top: .08rem;
          left: .1rem;
        }
      }
    }

    .row-data {
      text-align: center;
      height: 1rem;
      padding: 20px 18px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;

    > a {
      flex: 1;
      border-radius: 0;

      span {
        font-size: .28rem;
      }
    }

    .upload {
      position: relative;
      box-sizing: border-box;
      padding-top: 0.14rem;
      padding-bottom: 0.14rem;
      background: #fff;
      border: 1PX solid #ddd;
      flex: 1;

      .file-upd-btn {
        position: absolute;
        top: 0;
        cursor: pointer;
        right: 0;
        color: #bfbfbf;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 2;

        input {
          position: absolute;
          font-size: .4rem;
          line-height: 2.2;
          left: 0;
          top: 0;
          opacity: 0;
          cursor: pointer;
        }

        span {
          display: block;
          text-align: center;
          color: #000;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1rem;
          // padding-top: 0.14rem;
          // padding-bottom: 0.14rem;
          // padding-right: 0.1rem;
        }
      }
    }
  }
}

.sales-analysis {
  .chart:not(:last-child) {
    margin-bottom: 30px;
  }

  .fee-detail {
    padding: 20px;
    padding-top: 0;
    font-size: .5rem;

    table {
      width: 100%;
      display: table;
      border: solid gray;
      border-width: 1px 0px 0px 1px;
      border-collapse: collapse;

      th, td {
        border: solid gray;
        border-width: 0px 1px 1px 0px;
        text-align: center;
        height: 1rem;
      }

      .title {
        font-weight: 400;
        background: #92e6e6;
        padding: 0 15px;

        &.t-l {
          text-align: left;
        }

        &.t-r {
          text-align: right;
        }
      }

      .total {
        background: #ffd933;

        > .title {
          background: #ffd933;
        }
      }
    }
  }

  .road-show {
    padding: 20px;
    font-size: .5rem;

    header {
      text-align: center;
      font-size: .6rem;
      font-weight: bold;
      padding-bottom: 20px;
    }

    table {
      display: table;
      border-collapse: separate;
      border-spacing: 2px;
      width: 100%;

      th, td {
        height: 1rem;
        text-align: center;
        background: #fff9e0;
      }
    }
  }
}
