body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.commission-div {
  .list__select-person {
    .am-list-header {
      font-size: 0.32rem;
    }
  }

  .list__fee {
    .list__fee-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }

    .am-list-content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }
  }

  .list__province-fee {
    .list__province-fee-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }

    .am-list-content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }
  }
}

.commission-modal {
  width: 80% !important;

  .list__customer-fee {
    .list__customer-fee-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }

    .am-list-body:after {
      content: none;
    }
    .am-list-content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      span {
        flex: 1 0 33.3333%;
        text-align: left;
      }
    }
  }
}
